.dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}
.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: black;
}
.dashboard div {
  margin-top: 7px;
}

#main-section {
  height: 80vh;
  overflow-y: scroll;
}

.player-wrapper {
  background-color: #fff;
  border: 1px #fff solid !important;
  box-shadow:4px 4px 6px -4px rgba(0,0,0,0.47);
  border-radius: 0.25rem;
  flex: 1;
  display: flex;
}
