@import "~bootstrap/scss/bootstrap";

$column-width: 480px;
$gutter-width: 20px;

// https://colorhunt.co/palette/f9ebc8fefbe7dae5d0a0bcc2

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #A0BCC2;
}

.container-wrapper  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}


#sendBox, #messages-section, .player-wrapper2, .navbar-section {
  background-color: #fff;
  border: 1px #fff solid !important;
  box-shadow:4px 4px 6px -4px rgba(0,0,0,0.47)

}


.player-wrapper2 {
  border-radius: 0.25rem;
  flex: 1;
}


#main-section {
  height: 80vh;
}


#messages-section {
  color: #000;
  font-size: 1rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.timeBtn {
  text-decoration: none;
}

.timeTxt {
  text-align: right;
  font-size: 0.5rem;
  // color: #0000FF;
}

.card {
  cursor: pointer;
}

.w-80 {
  width: 80%;
}

.descriptionBox {
  display: flex;
}
